Repository 1hostjs/hosting, pull requests merged in 2021-04, with the labels that each got.

#29 Transition to Transifex
  .github/workflows/push_transifex.yml
  localization/getstring.js
  localization/strings.en.js
  package-lock.json
  package.json
  src/formatting.js
  src/index.js
  tests/posix/package-lock.json
Labels: priority: 3, scope: L10N, scope: contributors, status: pending, status: stale, status: under testing, type: developer facing, type: enhancement, type: helpful changes

#49 fix [Docs] Update dependencies #48
  docs/package-lock.json
  docs/yarn.lock
Labels: priority: 2, scope: documentation

#52 Wgyt/new logo
  docs/content/settings.json
  docs/static/favicon.png
  docs/static/icon.png
  docs/static/logo.svg
  docs/static/preview.png
Labels: priority: 2, scope: documentation

#53 fix workflow
  .github/workflows/build_docs.yml
Labels: priority: 1, type: security

#64 1host.js CLI
  .gitpod.yml
  bin/1host.js
  bin/1host.mjs
  bin/config.js
  bin/help.js
  localization/getstring.js
  localization/strings.en.js
  npm-shrinkwrap.json
  package.json
  src/formatting.js
  src/import.js
  src/index.js
  src/serve.js
  tests/posix/errors.js
  tests/posix/test.js
  yarn.lock
Labels: javascript, priority: 2, scope: cli, type: developer facing, type: enhancement

#68 https support
  bin/config.js
  localization/strings.en.js
  package.json
  src/import.js
  src/index.js
  src/serve.js
  tests/posix/1host.config.js
Labels: priority: 2, scope: cli, scope: core, scope: l10n, status: pending, type: enhancement

#70 hosts and config support
  src/import.js
  src/serve.js
  tests/posix/1host.config.js
  tests/posix/errors.js
  tests/posix/test.js
Labels: priority: 2, scope: core, type: enhancement

#78 Update build_docs.yml
  .github/workflows/build_docs.yml
Labels: type: security
