Repository 1hostjs/hosting, pull requests merged in 2021-03, with the labels that each got.

#41 ejs but without cli and dependencies
  NOTICE.md
  dist/ejs/LICENSE
  dist/ejs/README
  dist/ejs/ejs.js
  dist/ejs/utils.js
  dist/index.js
  dist/package.json
Labels: priority: 2, scope: dependencies, status: needs review, type: enhancement

#43 Typescript
  .gitignore
  .tsconfig
  src/.npmignore
  src/LICENSE
  src/README.md
  src/ejs/LICENSE
  src/ejs/README
  src/ejs/ejs.js
  src/ejs/utils.js
  src/importmodules.js
  src/index.js
  src/index.js.map
  src/index.ts
  src/package.json
  src/servesite.js
  src/tsconfig.json
  tests/test.js
Labels: platform: beta, platform: stable, priority: 2, status: pending, type: enhancement

#45 #44
  src/package.json
Labels: scope: dependencies

#63 lot of fixes and conflicts
  NOTICE.md
  README.md
  src/README.md
  src/importmodules.js
  src/index.js
Labels: priority: 2, status: pending

#64 Bruh the caps
  README.md
Labels: status: needs review, type: enhancement

#76 Fix tests directory because i have ocd
  tests/README.md
  tests/modules/modules.json
  tests/package.json
Labels: scope: dependencies, status: needs review

#80 yes sir
  README.md
Labels: facing: dev, priority: 1, scope: contributors, scope: documentation, status: needs review, type: enhancement

#88 fixed windows
  dist/index.js
  dist/index.js.map
  src/index.ts
  tests/modules/modules.json
  tests/test.posix.js
  tests/test.win.js
Labels: facing: users, priority: 1

#92 npm badge and all contributors footer update
  README.md
  package.json
Labels: facing: dev, priority: 1, scope: contributors, status: needs review, status: pending, type: enhancement

#86 Workflow that tests
  .github/workflows/main.yml
Labels: facing: dev, priority: 3, scope: contributors, status: needs review, status: pending, type: enhancement

#96 BIG bug fix
  README.md
Labels: facing: dev, priority: 1, scope: contributors, status: needs review, status: pending, type: enhancement

#97 change style on remaining shields.io badges
  README.md
Labels: facing: dev, priority: 1, scope: contributors, status: needs review, status: pending, type: enhancement
